.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #EAF6F6;
}

hr {
  padding: 7px;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
 
}
h1 {
  color:#66BFBF
}
h2 {
  color:#66BFBF
}

 img {
   border-radius: 50%;
   width: 111px;
   length:111px;
 }

footer {
  margin: 0;
  text-align: center;
}

ul {
  list-style-type: none;
}

table {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
